/*  Extra small devices (portrait phones, less than 320px) */

@media (max-width: 320px) {
    /* header part start */
    .banner {
        padding: 40px 0;
    }
    /* navbar part */
    .menu ul li a:hover::after {
        width: 11%;
    }
    /* navbar part */
    .menu ul li a {
        font-size: 14px;
    }
    .btn-style {
        padding: 2% 30%;
        font-size: 15px;
    }
    .banner-content h2 {
        font-size: 23px;
    }
    .banner-content p {
        font-size: 12px;
    }
    .form-control {
        width: 71%;
        text-align: center;
        display: inline-block;
        margin-left: 6px;
        margin-bottom: 10px;
    }
    .btn-style {
        padding: 2% 23%;
        font-size: 11px;
    }
    .style-p {
        font-size: 14px;
    }
    /* header part end */
    /* about part start */
    .about {
        padding: 40px 0;
    }
    /* about part end */
}


/*  Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    ...
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* header part start */
    /* navbar part */
    .menu ul li a:hover::after {
        width: 11%;
    }
    /* navbar part */
    .menu ul li a {
        font-size: 14px;
    }
    .btn-style {
        padding: 2% 30%;
        font-size: 15px;
    }
    .banner-content h2 {
        font-size: 30px;
    }
    .banner-content p {
        font-size: 14px;
    }
    .form-control {
        width: 71%;
        text-align: center;
        display: inline-block;
        margin-left: 6px;
        margin-bottom: 10px;
    }
    .btn-style {
        padding: 2% 28%;
        font-size: 12px;
    }
    .style-p {
        font-size: 14px;
    }
    /* header part end */
    /* about part start */
    .about {
        padding: 40px 0;
    }
    /* about part end */
}


/*  Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* header part start */
    /* navbar part */
    .menu ul li a:hover::after {
        width: 11%;
    }
    /* navbar part */
    .menu ul li a {
        font-size: 14px;
    }
    .btn-style {
        padding: 2% 30%;
        font-size: 15px;
    }
    .banner-content h2 {
        font-size: 30px;
    }
    .banner-content p {
        font-size: 14px;
    }
    .form-control {
        width: 71%;
        text-align: center;
        display: inline-block;
        margin-left: 6px;
        margin-bottom: 10px;
    }
    .btn-style {
        padding: 2% 30%;
        font-size: 12px;
    }
    .style-p {
        font-size: 14px;
    }
    /* header part end */
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header part start */
    .menu ul li a {
        font-size: 14px;
    }
    .btn-style {
        padding: 2% 30%;
        font-size: 15px;
    }
    .banner-content h2 {
        font-size: 40px;
    }
    .btn-custom {
        font-size: 14px;
    }
    .style-p {
        font-size: 14px;
    }
    /* header part end */
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}