body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* header area start */

.header {
    padding: 20px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 4px;
}

.menu ul li a {
    color: #404040!important;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.menu ul li a::after {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #404040;
    transition: 0.5s;
}

.menu ul li a:hover::after {
    width: 100%;
}

.menu ul li {
    margin-right: 15px;
}

.btn-custom {
    background-color: #7f1a38;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: -9px;
    text-transform: uppercase;
}

.btn-custom:hover {
    background: transparent;
    border: 2px solid#7f1a38;
    color: #7f1a38;
}


/* header area end */


/* bannar part start */

.banner {
    padding: 100px 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 700;
    color: #f0f0f0;
    text-transform: uppercase;
}

.banner-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
}

.font-style {
    color: #6feeff;
}

form {
    padding: 20px;
    background-color: #7f1a38;
    opacity: 0.9;
    border-radius: 5px;
}

.form-custom {
    border-radius: 0;
    opacity: 1;
    margin-right: 10px;
}

.btn-style {
    background: #ae2c52;
    border-radius: 0;
    padding: 2% 32%;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 16px;
}

.form-control {
    width: 95%;
}

.style-p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding-top: 10px;
}


/* bannar part end */


/* about part start */

.about {
    padding: 100px 0;
}

.about-content i {
    font-size: 50px;
    padding-bottom: 30px;
    color: #444444;
}

.about-content h3 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #141414;
}

.about-content p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}


/* about part end */


/* service part start */

.service {
    padding: 100px 0;
    background: #f9f9f9;
}

.service-content h2 {
    font-size: 50px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    text-transform: capitalize;
}

.service-content p {
    font-size: 17px;
    color: #404040;
    font-family: 'Open Sans', sans-serif;
    padding: 45px 0;
}

.btn-custom-3 {
    border: 3px solid#7f1a38;
    border-radius: 37px;
    padding: 15px 40px;
    text-transform: uppercase;
    color: #7f1a38!important;
    font-size: 20px;
}


/* service part end */


/* heading part start */

.heading {
    padding: 50px 0;
    background: #32383d;
}

.heading-content h2 {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 33px;
    font-weight: 300;
    text-transform: capitalize;
}

.btn-custom-4 {
    border: 3px solid#ffffff;
    border-radius: 37px;
    padding: 15px 40px;
    text-transform: uppercase;
    color: #ffffff !important;
    font-size: 20px;
    margin-top: -25px;
    letter-spacing: 2px;
}


/* heading part end */


/* slider part start */

.slider {
    padding: 30px 0;
    background: #09bbdb;
}

.slider-content i {
    font-size: 40px;
    color: #117486;
    padding-bottom: 20px;
}

.slider-content p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #ffffff;
    padding-bottom: 10px;
}

.font {
    color: #0e8aa1;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: -8%;
    background: none;
    border: 2px solid#67e1f7!important;
}

.carousel-indicators .active {
    background: #67e1f7;
}


/* slider part end */


/* footer part start */

.footer {
    padding: 40px 0;
}

.footer-content p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}


/* footer part end */


/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */